body{
    margin:0;
    background-image: url(img/space.jpg);
}
#wrap{
    width:100%;
    height:3000px;
    margin:0 auto;
    overflow: hidden;
}
#header{
    width:100%;
    height: 250px;
    background-image: url();
    text-align: center;
    position: fixed;
    margin:0 auto;
    color:white;
    font-size: 50px;
}
#menu li{
    display:inline;
    margin: 0px 10px 0px 10px;
}
#menu a{
    font-size:15px;
    color:white;
    text-decoration: none;
}
#menu a:hover{
    color: gold;
}
#aud{
    text-align: right;
    
}